.filters {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.filters__block-left, .filters__block-right {
  display: flex;
}

.filters__block-left {
  justify-content: left;
}

.filters__block-left > * {
  margin-right: 5px;
}

.filters__block-right {
  justify-content: right;
}

.filters__block-right > * {
  margin-left: 5px;
}


.filters__btn, .filters__close {
  background-color: white;
  border: 1px solid rgb(146, 146, 146);
  padding: 0 10px;
}

.filters__btn:focus, .filters__input:focus {
  outline: 0;
  border-color: #007bff;
  box-shadow: 0 0 2px #007bff;
}

.filters__btn {
  border-radius: 5px;
  height: 100%;
}

.filters__close  {
  border-left: none;
  border-radius: 0 5px 5px 0;
  height: 100%;
}

.filters__close:focus {
  outline: 0;
  color: red;
}

.filters__equal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters__input-group {
  display: flex;
}

.filters__input {
  border: 1px solid rgb(146, 146, 146);
  border-radius: 5px 0 0 5px;
  padding-left: 10px;
  width: 175px;
}

.filters__dropdown {
  position: relative;
  display: inline-block;
}

.filters__dropdown-cont {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 145px;
  margin-top: 5px;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 0 3px 7px 0px rgba(0,0,0,0.5);
  padding: 10px;
  z-index: 1;
}

.filters__dropdown-cont li {
  padding: 2px 5px;
  text-decoration: none;
}

.filters__dropdown li:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.filters__arrow {
  height: 20px;
}

.initial__arrow {
  transform: rotate(45deg);
  opacity: 0.5;
}

.initial__arrow:hover {
  opacity: 1;
}